<div class="formContainer">
  <div class="titleLabel">
    <span>Register
    </span>
  </div>
  <form #userRegister [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <div class="emailContainer">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="email?.invalid">
          <span>Your e-mail is incorrect</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="nameContainer">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="name?.invalid">
          <span>Your name is incorrect</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="lastNameContainer">
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="lastName?.invalid">
          <span>Your last name is incorrect</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="passwordContainer">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="password?.invalid">
          <span>Your password is incorrect</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="submitButton">
      <button mat-raised-button type="submit" [disabled]="registerForm.invalid">Register</button>
    </div>
    <button (click)="fetchData()">dupa</button>
  </form>
</div>
