.info{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  color: white;
}
.info_container{
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid red;
}
